.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
}

.reveal ul > li:before {
    content: '—';
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.reveal ul.no-dashes {
    padding-left: 0;
}

.reveal ul.no-dashes > li:before {
    content: '';
    margin-left: 0;
    width: 0;
}

.reveal ul.none > li:before {
    content: '';
}

.logos-box > * {
    display: inline-block;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal section .logos-box img.logo {
    height: 120px;
}

.logos-box .between-logos {
    height: 114px;
    padding-left: 45px;
    padding-right: 30px;
    vertical-align: bottom;
}

.reveal pre code {
    max-height: 100%;
}

table.list {
    font-size: 80%;
    width: 100%;
}

table.nowrap {
    white-space: nowrap;
}

table.no-border td {
    border-bottom: none;
}

.drop-cap:first-letter,
.drop-cap > span:first-letter {
    font-size: 1.2em;
}

.hell-red-first-letter > *,
.steel-blue-first-letter > * {
    display: inline-block;
    margin-right: 0.1em;
}

.hell-red,
.hell-red-first-letter:first-letter,
.hell-red-first-letter > *:first-letter {
    color: #f11514;
    display: inline-block;
}

.steel-blue,
.steel-blue-first-letter:first-letter,
.steel-blue-first-letter > *:first-letter {
    color: #4682b4;
    display: inline-block;
}

.small-caps {
    font-variant: small-caps;
}

.reveal .slide-number {
    font-size: 42pt;
}

.hljs-number {
    text-align: right;
}
